
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
src/Migrations/Version20190819090730.php
composer.json
composer.lock
src/Migrations/Version20190819090722.php
symfony.lock
/public/.htaccess

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
