<footer class="sticky-bottom mt-5 p-5 shadow site-footer">

    <section class="container-fluid">
    
        <div class="row justify-content-center text-center">
        
            <div class="col-md">
                <h5>Vous pouvez me joindre</h5>
                <hr>
                <p><i class="fas fa-mobile-alt"></i> : 06 74 15 55 53</p>
                <p><i class="far fa-envelope"></i> : <a href="mailto:magalipraticienne@yahoo.com">magalipraticienne@yahoo.com</a></p>
                <p><i class="fab fa-facebook"></i> : <a href="https://www.facebook.com/magalipraticienne">Ma Page Facebook !</a></p>
                <p><i class="fab fa-instagram"></i> : <a href="https://www.instagram.com/magalimaston/">Mon Compte Instagram !</a></p>
            </div>
            <div class="col-md">
                <h5>Venez me voir au <a href="http://www.le-rucher-creatif.org/">Rucher Créatif</a></h5>
                <hr>
                <ul>
                    <li>17 / 19 rue du Colonel Driant - 10000 Troyes</li>
                    <li>Lundi : 9h - 12h et 14h - 19h</li>
                    <li>Mardi : 9h - 12h et 14h - 19h</li>
                    <li>Mercredi : 9h - 12h</li>
                    <li>Jeudi : 14h - 19h</li>
                    <li>Vendredi : 9h - 12h et 14h - 19h</li>
                </ul>
            </div>
            <div class="col-md">
                <h5>Mes Tarifs</h5>
                <hr>
                <p>Toutes les prestations proposées durent de 1h à 1h15 et sont au prix de 50 euros.</p> 
                <p>Si vous êtes adhérents du Rucher Créatif, les RDV qui se déroulent au sein du Rucher sont à 45 euros.</p> 
                <p>Les règlements se font en CB !</p>
            </div>

        </div>
    
    </section>
    <hr>       
    <div class="text-center">
        <small>Tout droits réservés &copy;  Designed by Web Force 3</small> 
    </div>

</footer>