{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<section class="container">

{% for alert in app.flashes('emailreset-incorrect') %}
    <div class="alert alert-danger" role="alert">
         {{ alert }}
    </div>

{% endfor %}

{% for alert in app.flashes('emailreset-success') %}
    <div class="alert alert-success" role="alert">
         {{ alert }}
    </div>

{% endfor %}

<form method="post">
    <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>
    <label class="sr-only" for="email">E-mail</label>
    <input class="form-control rounded-pill mb-3" id="email" name="email" placeholder="email" required type="email">
    {# <input type="hidden" name="token" value="{{ token }}"> #}

    <button class="btn btn-primary btn-block" type="submit">
        Récuperer mon mot de passe
    </button>
</form>

            
</section>

{% endblock %}
