{% extends 'base.html.twig' %}

{% block title %}Liste des Commandes
{% endblock %}

{% block body %}

    <div class="container">
        <div class="table-responsive">


            <h1>Liste des Commandes en cours de livraison</h1>
            <table class="table text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Numéro de commande</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for panier in paniers %}
                        <tr>
                            <th scope="row">{{ panier.id }}</th>
                            <td>
                                <span class="badge badge-pill badge-info">En cours de livraison</span> 
                            </td>
                            <td>
                                <a href="{{ path('voirCommande', {'id': panier.id})}}">Voir la Commande</a>
                                {# |
                                <a href="{{ path('envoieCommande', {'id': panier.id} ) }}">Envoyé</a> #}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
                <a href="{{ path('account_commande')}}" class="btn btn-primary"> Retour à la liste </a>
        </div>

    </div>

{% endblock %}