 <span class="d-block p-2 bg-primary text-white text-center">Espace clients</span>
    <div class="list-group border">
        <a href="#" class="list-group-item list-group-item-action border-0 rounded-0">
            Mes commandes
        </a>
        <a href="{{ path ('account_edit_info_security') }}" class="list-group-item list-group-item-action border-0 rounded-0">
            Sécurité
        </a>
        <a href="{{ path ('account_home') }}" class="list-group-item list-group-item-action border-0 rounded-0">
            Mon compte
        </a>
        <a href="{{ path ('account_edit_info_connexion') }}" class="list-group-item list-group-item-action border-0 rounded-0">
            Mes informations de connexion
        </a>
        <a href="{{ path ('account_edit_info_personnel') }}" class="list-group-item list-group-item-action border-0 rounded-0">
            Mes informations personnelles
        </a>
    </div>